In [1]:
import pandas as pd
import os

In [2]:
pwd

'C:\\Users\\tcast\\Data Science Program\\Module 1\\Mod 1 Project - Movie Analysis\\Movie_Analysis'

In [7]:
df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [8]:
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [9]:
from glob import glob

In [10]:
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData\\bom.movie_gross.csv.gz',
 './zippedData\\imdb.name.basics.csv.gz',
 './zippedData\\imdb.title.akas.csv.gz',
 './zippedData\\imdb.title.basics.csv.gz',
 './zippedData\\imdb.title.crew.csv.gz',
 './zippedData\\imdb.title.principals.csv.gz',
 './zippedData\\imdb.title.ratings.csv.gz',
 './zippedData\\tmdb.movies.csv.gz',
 './zippedData\\tn.movie_budgets.csv.gz']

In [11]:
d = {}

In [12]:
type(csv_files)

list

As we can see, we have made a list of pathways to our various csv files!

In [13]:
for file in csv_files:
    d[file] = pd.read_csv(file)

Here we took the list of paths created above, and made key:value pairs to fill up our empty dictionary!

In [14]:
d.keys()

dict_keys(['./zippedData\\bom.movie_gross.csv.gz', './zippedData\\imdb.name.basics.csv.gz', './zippedData\\imdb.title.akas.csv.gz', './zippedData\\imdb.title.basics.csv.gz', './zippedData\\imdb.title.crew.csv.gz', './zippedData\\imdb.title.principals.csv.gz', './zippedData\\imdb.title.ratings.csv.gz', './zippedData\\tmdb.movies.csv.gz', './zippedData\\tn.movie_budgets.csv.gz'])

# Data Cleaning

## Cleaning the file names

In [17]:
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_").replace("_gz", "") # cleaning the filenames
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

In [18]:
csv_files_dict.keys()

dict_keys(['bom_movie_gross', 'imdb_name_basics', 'imdb_title_akas', 'imdb_title_basics', 'imdb_title_crew', 'imdb_title_principals', 'imdb_title_ratings', 'tmdb_movies', 'tn_movie_budgets'])

In [19]:
csv_files_dict['imdb_title_crew'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(2)
memory usage: 3.3+ MB

# Creating new database in SQL

In [2]:
import sqlite3

## Making SQL file

In [3]:
conn = sqlite3.connect("movies_db.sqlite")
cur = conn.cursor()

## Creating function to create SQL table from dataframe

In [30]:
def create_sql_table_from_df(df, name, conn):
    try:
        df.to_sql(name, conn, if_exists='fail')
        print(f"Created table {name}")
    
    except Exception as e:
        print(f"could not make table {name}")
        print(e)

## For loop to iterate through collection of CSV items

In [31]:
for name, table in csv_files_dict.items():
    create_sql_table_from_df(table, name, conn)

could not make table bom_movie_gross
Table 'bom_movie_gross' already exists.
could not make table imdb_name_basics
Table 'imdb_name_basics' already exists.
could not make table imdb_title_akas
Table 'imdb_title_akas' already exists.
could not make table imdb_title_basics
Table 'imdb_title_basics' already exists.
could not make table imdb_title_crew
Table 'imdb_title_crew' already exists.
could not make table imdb_title_principals
Table 'imdb_title_principals' already exists.
could not make table imdb_title_ratings
Table 'imdb_title_ratings' already exists.
could not make table tmdb_movies
Table 'tmdb_movies' already exists.
could not make table tn_movie_budgets
Table 'tn_movie_budgets' already exists.

In [24]:
conn.execute("select name from sqlite_master where type='table';").fetchall()

[('bom_movie_gross',),
 ('imdb_name_basics',),
 ('imdb_title_akas',),
 ('imdb_title_basics',),
 ('imdb_title_crew',),
 ('imdb_title_principals',),
 ('imdb_title_ratings',),
 ('tmdb_movies',),
 ('tn_movie_budgets',)]

## Check to make sure things look good

In [25]:
for item in csv_files_dict.items():
        print("===============New DF===============")
        print(item[0])
        print(item[1].info())
        print("================End DF===============")

===============New DF===============
bom_movie_gross
<class 'pandas.core.frame.DataFrame'>
Index: 3387 entries, Toy Story 3 to An Actor Prepares
Data columns (total 4 columns):
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.3+ KB
None
================End DF===============
===============New DF===============
imdb_name_basics
<class 'pandas.core.frame.DataFrame'>
Index: 606648 entries, nm0061671 to nm9993380
Data columns (total 5 columns):
primary_name          606648 non-null object
birth_year            82736 non-null float64
death_year            6783 non-null float64
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: float64(2), object(3)
memory usage: 47.8+ MB
None
================End DF===============
===============New DF===============
imdb_title_akas
<class 'pandas.core.frame.DataFrame'>
Index: 331703 entries, tt0369610 to tt9880178
Data columns (total 7 columns):
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 30.2+ MB
None
================End DF===============
===============New DF===============
imdb_title_basics
<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 11.7+ MB
None
================End DF===============
===============New DF===============
imdb_title_crew
<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0285252 to tt9010172
Data columns (total 2 columns):
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(2)
memory usage: 8.3+ MB
None
================End DF===============
===============New DF===============
imdb_title_principals
<class 'pandas.core.frame.DataFrame'>
Index: 1028186 entries, tt0111414 to tt9692684
Data columns (total 5 columns):
ordering      1028186 non-null int64
nconst        1028186 non-null object
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(4)
memory usage: 67.1+ MB
None
================End DF===============
===============New DF===============
imdb_title_ratings
<class 'pandas.core.frame.DataFrame'>
Index: 73856 entries, tt10356526 to tt9894098
Data columns (total 2 columns):
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1)
memory usage: 1.7+ MB
None
================End DF===============
===============New DF===============
tmdb_movies
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB
None
================End DF===============
===============New DF===============
tn_movie_budgets
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: object(5)
memory usage: 271.0+ KB
None
================End DF===============

In [31]:
csv_files_dict.items()

dict_items([('bom_movie_gross',                                                         studio  \
title
Toy Story 3                                                 BV
Alice in Wonderland (2010)                                  BV
Harry Potter and the Deathly Hallows Part 1                 WB
Inception                                                   WB
Shrek Forever After                                       P/DW
The Twilight Saga: Eclipse                                Sum.
Iron Man 2                                                Par.
Tangled                                                     BV
Despicable Me                                             Uni.
How to Train Your Dragon                                  P/DW
Clash of the Titans (2010)                                  WB
The Chronicles of Narnia: The Voyage of the Daw...         Fox
The King's Speech                                        Wein.
Tron Legacy                                                 BV
The Karate Kid                                            Sony
Prince of Persia: The Sands of Time                         BV
Black Swan                                                FoxS
Megamind                                                  P/DW
Robin Hood                                                Uni.
The Last Airbender                                        Par.
Little Fockers                                            Uni.
Resident Evil: Afterlife                                  SGem
Shutter Island                                            Par.
Salt                                                      Sony
Sex and the City 2                                     WB (NL)
The Tourist                                               Sony
The Expendables                                            LGF
Grown Ups                                                 Sony
Knight & Day                                               Fox
True Grit                                                 Par.
...                                                        ...
I Am Not a Witch                                            FM
Racer & the Jailbird                                     Super
Rodin                                                    Cohen
What Will People Say                                        KL
A Ciambra                                                  IFC
Oolong Courtyard                                            CL
Girls vs Gangsters                                       WGUSA
No Date, No Signature                                 Distrib.
The Apparition (2018)                                     MBox
The Charmer                                                 FM
Elliot: The Littlest Reindeer                            Scre.
The Workshop                                            Strand
Loving Pablo                                              Uni.
A Paris Education                                           KL
Tag Along: The Devil Fish                                   CL
Gabriel and the Mountain                                Strand
Marlina the Murderer in Four Acts                        Icar.
The Escape                                                 IFC
How Victor 'The Garlic' Took Alexey 'The Stud' ...     CARUSEL
Lou Andreas-Salomé, the Audacity to be Free                CLS
Let Yourself Go                                           Men.
Hannah (2018)                                              PDF
Souvenir                                                Strand
Furious (Legend of Kolovrat)                           CARUSEL
Beauty and the Dogs                                      Osci.
The Quake                                                Magn.
Edward II (2018 re-release)                                 FM
El Pacto                                                  Sony
The Swan                                            Synergetic
An Actor Prepares                                        Grav.

                                                    domestic_gross  \
title
Toy Story 3                                            415000000.0
Alice in Wonderland (2010)                             334200000.0
Harry Potter and the Deathly Hallows Part 1            296000000.0
Inception                                              292600000.0
Shrek Forever After                                    238700000.0
The Twilight Saga: Eclipse                             300500000.0
Iron Man 2                                             312400000.0
Tangled                                                200800000.0
Despicable Me                                          251500000.0
How to Train Your Dragon                               217600000.0
Clash of the Titans (2010)                             163200000.0
The Chronicles of Narnia: The Voyage of the Daw...     104400000.0
The King's Speech                                      135500000.0
Tron Legacy                                            172100000.0
The Karate Kid                                         176600000.0
Prince of Persia: The Sands of Time                     90800000.0
Black Swan                                             107000000.0
Megamind                                               148400000.0
Robin Hood                                             105300000.0
The Last Airbender                                     131800000.0
Little Fockers                                         148400000.0
Resident Evil: Afterlife                                60100000.0
Shutter Island                                         128000000.0
Salt                                                   118300000.0
Sex and the City 2                                      95300000.0
The Tourist                                             67600000.0
The Expendables                                        103100000.0
Grown Ups                                              162000000.0
Knight & Day                                            76400000.0
True Grit                                              171200000.0
...                                                            ...
I Am Not a Witch                                           50900.0
Racer & the Jailbird                                       46300.0
Rodin                                                      44300.0
What Will People Say                                       44200.0
A Ciambra                                                  41900.0
Oolong Courtyard                                           37700.0
Girls vs Gangsters                                         37100.0
No Date, No Signature                                      36400.0
The Apparition (2018)                                      28300.0
The Charmer                                                26200.0
Elliot: The Littlest Reindeer                              24300.0
The Workshop                                               22100.0
Loving Pablo                                               22000.0
A Paris Education                                          21600.0
Tag Along: The Devil Fish                                  20700.0
Gabriel and the Mountain                                   18400.0
Marlina the Murderer in Four Acts                          17800.0
The Escape                                                 14000.0
How Victor 'The Garlic' Took Alexey 'The Stud' ...         13000.0
Lou Andreas-Salomé, the Audacity to be Free                12900.0
Let Yourself Go                                            12200.0
Hannah (2018)                                              11700.0
Souvenir                                                   11400.0
Furious (Legend of Kolovrat)                               10000.0
Beauty and the Dogs                                         8900.0
The Quake                                                   6200.0
Edward II (2018 re-release)                                 4800.0
El Pacto                                                    2500.0
The Swan                                                    2400.0
An Actor Prepares                                           1700.0

                                                   foreign_gross  year
title
Toy Story 3                                            652000000  2010
Alice in Wonderland (2010)                             691300000  2010
Harry Potter and the Deathly Hallows Part 1            664300000  2010
Inception                                              535700000  2010
Shrek Forever After                                    513900000  2010
The Twilight Saga: Eclipse                             398000000  2010
Iron Man 2                                             311500000  2010
Tangled                                                391000000  2010
Despicable Me                                          291600000  2010
How to Train Your Dragon                               277300000  2010
Clash of the Titans (2010)                             330000000  2010
The Chronicles of Narnia: The Voyage of the Daw...     311300000  2010
The King's Speech                                      275400000  2010
Tron Legacy                                            228000000  2010
The Karate Kid                                         182500000  2010
Prince of Persia: The Sands of Time                    245600000  2010
Black Swan                                             222400000  2010
Megamind                                               173500000  2010
Robin Hood                                             216400000  2010
The Last Airbender                                     187900000  2010
Little Fockers                                         162200000  2010
Resident Evil: Afterlife                               240100000  2010
Shutter Island                                         166800000  2010
Salt                                                   175200000  2010
Sex and the City 2                                     193000000  2010
The Tourist                                            210700000  2010
The Expendables                                        171400000  2010
Grown Ups                                              109400000  2010
Knight & Day                                           185500000  2010
True Grit                                               81000000  2010
...                                                          ...   ...
I Am Not a Witch                                             NaN  2018
Racer & the Jailbird                                         NaN  2018
Rodin                                                        NaN  2018
What Will People Say                                         NaN  2018
A Ciambra                                                    NaN  2018
Oolong Courtyard                                             NaN  2018
Girls vs Gangsters                                           NaN  2018
No Date, No Signature                                        NaN  2018
The Apparition (2018)                                        NaN  2018
The Charmer                                                  NaN  2018
Elliot: The Littlest Reindeer                                NaN  2018
The Workshop                                                 NaN  2018
Loving Pablo                                                 NaN  2018
A Paris Education                                            NaN  2018
Tag Along: The Devil Fish                                    NaN  2018
Gabriel and the Mountain                                     NaN  2018
Marlina the Murderer in Four Acts                            NaN  2018
The Escape                                                   NaN  2018
How Victor 'The Garlic' Took Alexey 'The Stud' ...           NaN  2018
Lou Andreas-Salomé, the Audacity to be Free                  NaN  2018
Let Yourself Go                                              NaN  2018
Hannah (2018)                                                NaN  2018
Souvenir                                                     NaN  2018
Furious (Legend of Kolovrat)                                 NaN  2018
Beauty and the Dogs                                          NaN  2018
The Quake                                                    NaN  2018
Edward II (2018 re-release)                                  NaN  2018
El Pacto                                                     NaN  2018
The Swan                                                     NaN  2018
An Actor Prepares                                            NaN  2018

[3387 rows x 4 columns]), ('imdb_name_basics',                     primary_name  birth_year  death_year  \
nconst
nm0061671      Mary Ellen Bauder         NaN         NaN
nm0061865           Joseph Bauer         NaN         NaN
nm0062070             Bruce Baum         NaN         NaN
nm0062195           Axel Baumann         NaN         NaN
nm0062798            Pete Baxter         NaN         NaN
nm0062879         Ruel S. Bayani         NaN         NaN
nm0063198                  Bayou         NaN         NaN
nm0063432          Stevie Be-Zet         NaN         NaN
nm0063618              Jeff Beal      1963.0         NaN
nm0063750        Lindsay Beamish         NaN         NaN
nm0064023          Bryan Beasley         NaN         NaN
nm0064350     Martine Beauchemin         NaN         NaN
nm0065847  Michael Frost Beckner      1963.0         NaN
nm0065919            Will Becton         NaN         NaN
nm0066093           Ahmad Bedair      1945.0         NaN
nm0066163         Arnaud Bedouët         NaN         NaN
nm0066268   Steve Mitchell Beebe         NaN         NaN
nm0066897  Mohammad-Ali Behboudi      1956.0         NaN
nm0067234           Hans Beimler         NaN         NaN
nm0067845       Sondos Belhassen         NaN         NaN
nm0067983        Krunoslav Belko      1971.0         NaN
nm0068170             Dylan Bell         NaN         NaN
nm0068657     Philippe Bellaiche         NaN         NaN
nm0068874      Hava Kohav Beller         NaN         NaN
nm0069131            Gregg Bello         NaN         NaN
nm0069225          Gavin Bellour         NaN         NaN
nm0069605       Bruno Beltramini         NaN         NaN
nm0069757       Olga Belyavskaya         NaN         NaN
nm0069990          Jorge Ben Jor      1942.0         NaN
nm0070216       John Paul Fedele         NaN         NaN
...                          ...         ...         ...
nm9969939             Anna Bligh         NaN         NaN
nm9971271             Ray Spivey         NaN         NaN
nm9971456              Zheng Wei         NaN         NaN
nm9975287          Oliver Delaby         NaN         NaN
nm9976388      Naomie Monplaisir         NaN         NaN
nm9976769       Edyta Przytulska         NaN         NaN
nm9977609  Amenkai Pilgrim-Owens         NaN         NaN
nm9978371          Zach Campbell         NaN         NaN
nm9979898           Ryosuke Yusa         NaN         NaN
nm9980588      Elina Gakou Gomba         NaN         NaN
nm9980896         Rama Narayanan         NaN         NaN
nm9981679            Samir Eshra         NaN         NaN
nm9981999         Kamlesh Israni         NaN         NaN
nm9983730        Choi Yeong-Hwan         NaN         NaN
nm9983906         Alejandro Odom         NaN         NaN
nm9985838      Anthony Simonetti         NaN         NaN
nm9985863             Gary Evans         NaN         NaN
nm9986856       Geraldine Caster         NaN         NaN
nm9988988            Sarla Verma         NaN         NaN
nm9989005           Jae-Hwan Kim         NaN         NaN
nm9989145           Szilvia Herr         NaN         NaN
nm9989840     Mariya Shekaturova         NaN         NaN
nm9989854           Layla Louise      1990.0         NaN
nm9990047         Joseph Jackson         NaN         NaN
nm9990296      Fleurette Dicaire         NaN         NaN
nm9990381           Susan Grobes         NaN         NaN
nm9990690            Joo Yeon So         NaN         NaN
nm9991320         Madeline Smith         NaN         NaN
nm9991786    Michelle Modigliani         NaN         NaN
nm9993380         Pegasus Envoyé         NaN         NaN

                                         primary_profession  \
nconst
nm0061671         miscellaneous,production_manager,producer
nm0061865        composer,music_department,sound_department
nm0062070                        miscellaneous,actor,writer
nm0062195  camera_department,cinematographer,art_department
nm0062798  production_designer,art_department,set_decorator
nm0062879         director,production_manager,miscellaneous
nm0063198                                             actor
nm0063432                               composer,soundtrack
nm0063618              composer,music_department,soundtrack
nm0063750                             actress,miscellaneous
nm0064023                          director,producer,writer
nm0064350                       producer,production_manager
nm0065847                     writer,producer,miscellaneous
nm0065919         miscellaneous,editor,editorial_department
nm0066093                               actor,miscellaneous
nm0066163                             actor,writer,director
nm0066268              editorial_department,director,editor
nm0066897                                             actor
nm0067234                     producer,writer,miscellaneous
nm0067845                                           actress
nm0067983                                             actor
nm0068170                           director,actor,producer
nm0068657        cinematographer,camera_department,producer
nm0068874                          director,writer,producer
nm0069131                                    actor,producer
nm0069225                           actor,producer,composer
nm0069605  cinematographer,visual_effects,camera_department
nm0069757                             actress,miscellaneous
nm0069990                         soundtrack,composer,actor
nm0070216             actor,cinematographer,special_effects
...                                                     ...
nm9969939                                               NaN
nm9971271                          producer,writer,director
nm9971456                                          director
nm9975287                                             actor
nm9976388                                               NaN
nm9976769                                           actress
nm9977609                                            writer
nm9978371          actor,cinematographer,assistant_director
nm9979898                                             actor
nm9980588                                            writer
nm9980896                                   director,writer
nm9981679                   director,writer,cinematographer
nm9981999                                           actress
nm9983730                                   cinematographer
nm9983906                                             actor
nm9985838                                             actor
nm9985863                                          producer
nm9986856                                          producer
nm9988988                                          producer
nm9989005                                             actor
nm9989145                                           actress
nm9989840                                             actor
nm9989854                                    actress,stunts
nm9990047                                             actor
nm9990296                                               NaN
nm9990381                                           actress
nm9990690                                           actress
nm9991320                                           actress
nm9991786                                          producer
nm9993380                             director,actor,writer

                                   known_for_titles
nconst
nm0061671   tt0837562,tt2398241,tt0844471,tt0118553

## TEST RUNS

In [6]:
cur.execute("""SELECT * 
             FROM imdb_title_basics 
             LIMIT 10
             ;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography

In [14]:
cur.execute("""SELECT *
             FROM tmdb_movies tm
             JOIN tn_movie_budgets tn
             ON tm.original_title = tn.movie;""")


df_imdb_budgets = pd.DataFrame(cur.fetchall())
df_imdb_budgets.columns = [x[0] for x in cur.description]
print(len(df_imdb_budgets))
df_imdb_budgets

2316

,index,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,30,"Mar 26, 2010",How to Train Your Dragon,"$165,000,000","$217,581,232","$494,870,992"
1,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,15,"May 7, 2010",Iron Man 2,"$170,000,000","$312,433,331","$621,156,389"
2,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,37,"Nov 22, 1995",Toy Story,"$30,000,000","$191,796,233","$364,545,516"
3,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,38,"Jul 16, 2010",Inception,"$160,000,000","$292,576,195","$835,524,642"
4,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,17,"Feb 12, 2010",Percy Jackson & the Olympians: The Lightning T...,"$95,000,000","$88,768,303","$223,050,874"
5,6,"[28, 12, 14, 878]",19995,en,Avatar,26.526,2009-12-18,Avatar,7.4,18676,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
6,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,47,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522"
7,8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,50,"Jul 9, 2010",Despicable Me,"$69,000,000","$251,513,985","$543,464,573"
8,9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635,47,"Nov 5, 2010",Megamind,"$130,000,000","$148,415,853","$321,887,208"
9,10,"[16, 35, 10751]",863,en,Toy Story 2,22.698,1999-11-24,Toy Story 2,7.5,7553,40,"Nov 19, 1999",Toy Story 2,"$90,000,000","$245,852,179","$511,358,276"
10,11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713,51,"Mar 5, 2010",Alice in Wonderland,"$200,000,000","$334,191,110","$1,025,491,110"
11,11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713,60,"Jul 28, 1951",Alice in Wonderland,"$3,000,000",$0,$0
12,12,"[53, 12, 28]",27578,en,The Expendables,21.517,2010-08-03,The Expendables,6.1,4647,34,"Aug 13, 2010",The Expendables,"$82,000,000","$103,068,524","$268,268,174"
13,13,"[16, 10751]",38757,en,Tangled,21.511,2010-11-24,Tangled,7.5,6407,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
14,14,"[27, 80]",41439,en,Saw 3D,20.370,2010-10-28,Saw: The Final Chapter,6.0,1488,79,"Oct 29, 2010",Saw 3D,"$17,000,000","$45,710,178","$133,735,284"
15,15,"[12, 14, 18, 10749]",24021,en,The Twilight Saga: Eclipse,20.340,2010-06-23,The Twilight Saga: Eclipse,6.0,4909,53,"Jun 30, 2010",The Twilight Saga: Eclipse,"$68,000,000","$300,531,751","$706,102,828"
16,16,"[28, 53, 878]",20504,en,The Book of Eli,18.985,2010-01-11,The Book of Eli,6.7,3495,64,"Jan 15, 2010",The Book of Eli,"$80,000,000","$94,835,059","$158,750,817"
17,18,"[28, 18, 53]",2502,en,The Bourne Supremacy,18.199,2004-07-23,The Bourne Supremacy,7.3,4367,91,"Jul 23, 2004",The Bourne Supremacy,"$85,000,000","$176,087,450","$311,001,124"
18,19,"[18, 53, 9648]",11324,en,Shutter Island,18.060,2010-02-18,Shutter Island,8.1,12625,52,"Feb 19, 2010",Shutter Island,"$80,000,000","$128,012,934","$299,461,782"
19,20,"[28, 18, 9648, 53]",2501,en,The Bourne Identity,17.935,2002-06-14,The Bourne Identity,7.4,5406,51,"Jun 14, 2002",The Bourne Identity,"$60,000,000","$121,468,960","$214,357,371"
20,21,"[28, 35]",37834,en,Knight and Day,17.713,2010-06-23,Knight and Day,6.0,2494,2,"Jun 23, 2010",Knight and Day,"$117,000,000","$76,423,035","$258,751,370"
21,22,"[12, 10751, 14]",10140,en,The Chronicles of Narnia: The Voyage of the Da...,17.382,2010-12-10,The Chronicles of Narnia: The Voyage of the Da...,6.3,3196,48,"Dec 10, 2010",The Chronicles of Narnia: The Voyage of the Da...,"$155,000,000","$104,386,950","$418,186,950"
22,23,"[18, 10749]",41233,en,Step Up 3D,17.174,2010-08-06,Step Up 3D,6.7,1160,9,"Aug 6, 2010",Step Up 3D,"$30,000,000","$42,400,223","$165,889,117"
23,24,"[53, 28, 12, 35, 80]",34544,en,The A-Team,17.097,2010-06-11,The A-Team,6.3,2703,32,"Jun 11, 2010",The A-Team,"$110,000,000","$77,222,099","$177,241,171"
24,26,"[28, 35, 80, 53]",9737,en,Bad Boys,16.608,1995-04-07,Bad Boys,6.6,2936,72,"Apr 7, 1995",Bad Boys,"$23,000,000","$65,647,413","$141,247,413"
25,27,"[28, 12, 10751, 14]",10196,en,The Last Airbender,16.595,2010-07-01,The Last Airbender,4.6,2143,83,"Jul 1, 2010",The Last Airbender,"$150,000,000","$131,772,187","$319,713,881"
26,28,"[28, 878, 12, 53]",34851,en,Predators,16.216,2010-07-03,Predators,6.1,1979,35,"Jul 9, 2010",Predators,"$40,000,000","$52,000,688","$127,234,389"
27,29,[18],37799,en,The Social Network,15.889,2010-10-01,The Social Network,7.2,6116,91,"Oct 1, 2010",The Social Network,"$40,000,000","$96,962,694","$224,922,135"
28,31,"[18, 36]",568,en,Apollo 13,15.855,1995-06-30,Apollo 13,7.4,2821,75,"Jun 30, 1995",Apollo 13,"$65,000,000","$173,772,767","$335,802,271"
29,32,"[28, 53, 878, 12]",95,en,Armageddon,15.799,1998-07-01,Armageddon,6.7,4267,8,"Jul 1, 1998",Armageddon,"$140,000,000","$201,578,182","$554,600,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2286,24573,"[16, 12, 10751, 36, 10752]",433694,en,Sgt. Stubby: An American Hero,6.107,2018-04-13,Sgt. Stubby: An American Hero,6.4,9,6,"Apr 13, 2018",Sgt. Stubby: An American Hero,"$25,000,000","$3,054,285","$3,645,957"
2287,24598,"[53, 18, 27]",510284,en,Braid,5.972,2019-02-01,Braid,6.4,18,48,"Feb 1, 2019",Braid,"$1,660,000",$0,"$80,745"
2288,24638,"[18, 10752]",514407,en,Indivisible,5.599,2018-10-26,Indivisible,5.4,13,93,"Oct 26, 2018",Indivisible,"$2,700,000","$3,511,417","$3,588,305"
2289,24691,"[18, 28, 80]",547590,en,El Chicano,5.274,2019-05-03,El Chicano,9.0,1,16,"May 3, 2019",El Chicano,"$8,000,000","$700,261","$700,261"
2290,24815,"[18, 35, 28, 80]",506971,ur,Teefa in Trouble,4.486,2018-07-20,Teefa in Trouble,7.6,11,8,"Jul 20, 2018",Teefa in Trouble,"$1,500,000",$0,"$98,806"
2291,24969,[18],510034,en,Diane,3.521,2018-04-22,Diane,7.5,4,98,"Jan 12, 1956",Diane,"$2,660,000",$0,$0
2292,25078,"[27, 53, 10770]",542787,en,Frenzy,2.962,2018-08-15,Frenzy,3.9,9,2,"Jun 21, 1972",Frenzy,"$3,500,000","$12,600,000","$12,600,000"
2293,25087,[18],483347,en,Little Women,2.919,2018-09-28,Little Women,6.8,11,19,"Dec 21, 1994",Little Women,"$15,000,000","$50,003,303","$50,003,303"
2294,25148,"[28, 12, 16]",332718,en,Bilal: A New Breed of Hero,2.707,2018-02-02,Bilal: A New Breed of Hero,6.8,54,100,"Feb 2, 2018",Bilal: A New Breed of Hero,"$30,000,000","$490,973","$648,599"
2295,25206,"[18, 14, 27, 10749]",437583,et,November,2.519,2018-02-23,November,7.6,38,81,"Jul 22, 2005",November,"$250,000","$191,862","$191,862"
2296,25425,"[53, 10770]",537138,en,Twisted,2.036,2018-05-19,Twisted,5.4,13,74,"Feb 27, 2004",Twisted,"$50,000,000","$25,195,050","$40,119,848"
2297,25560,[28],566114,en,Bad Company,1.836,2018-08-14,Bad Company,10.0,1,34,"Jun 7, 2002",Bad Company,"$70,000,000","$30,157,016","$69,157,016"
2298,25581,"[27, 9648, 53]",477577,en,3,1.816,2018-08-07,3,6.0,2,85,"Sep 16, 2011",3,"$7,200,000","$59,774","$295,492"
2299,25613,[],500693,en,Man on Fire,1.790,2018-01-24,Man on Fire,8.0,1,69,"Apr 23, 2004",Man on Fire,"$60,000,000","$77,906,816","$130,968,579"
2300,25748,[37],523108,en,The Divide,1.552,2018-01-01,The Divide,2.0,1,53,"Jan 13, 2012",The Divide,"$3,000,000","$18,000","$156,362"
2301,25755,[35],546377,en,Grace,1.547,2018-09-23,Grace,10.0,1,80,"Aug 14, 2009",Grace,"$5,000,000","$8,297","$8,297"
2302,25806,[27],505056,en,Spawn,1.400,2018-04-13,Spawn,10.0,1,30,"Jul 31, 1997",Spawn,"$40,000,000","$54,979,992","$87,949,859"
2303,25825,"[28, 878]",448764,en,Molly,1.400,2018-09-25,Molly,5.8,5,81,"Oct 22, 1999",Molly,"$21,000,000","$17,396","$17,396"
2304,25906,[27],512524,en,Milk,1.218,2018-03-09,Milk,5.0,1,63,"Nov 26, 2008",Milk,"$20,000,000","$31,841,299","$57,293,371"
2305,26040,[],509314,en,The Box,0.840,2018-03-04,The Box,8.0,1,66,"Nov 6, 2009",The Box,"$25,000,000","$15,051,977","$34,356,760"
2306,26092,"[35, 16]",546674,en,Enough,0.719,2018-03-22,Enough,8.7,3,68,"May 24, 2002",Enough,"$38,000,000","$39,177,215","$50,970,660"
2307,26211,[53],565736,en,The Box,0.600,2018-05-21,The Box,10.0,1,66,"Nov 6, 2009",The Box,"$25,000,000","$15,051,977","$34,356,760"
2308,26251,[],501956,en,Spotlight,0.600,2018-01-28,Spotlight,10.0,1,34,"Nov 6, 2015",Spotlight,"$20,000,000","$45,055,776","$92,088,460"
2309,26322,[],513161,en,Undiscovered,0.600,2018-04-07,Undiscovered,8.0,1,7,"Aug 26, 2005",Undiscovered,"$9,000,000","$1,069,318","$1,069,318"
2310,26323,[],509316,en,The Box,0.600,2018-03-04,The Box,8.0,1,66,"Nov 6, 2009",The Box,"$25,000,000","$15,051,977","$34,356,760"
2311,26339,"[99, 99]",474464,en,The Judge,0.600,2018-04-13,The Judge,7.5,2,41,"Oct 10, 2014",The Judge,"$50,000,000","$47,119,388","$76,119,388"
2312,26413,[27],536404,en,Wolf,0.600,2018-07-15,Wolf,6.0,1,18,"Jun 17, 1994",Wolf,"$70,000,000","$65,011,757","$131,011,757"
2313,26425,[10402],509306,en,The Box,0.600,2018-03-04,The Box,6.0,1,66,"Nov 6, 2009",The Box,"$25,000,000","$15,051,977","$34,356,760"
2314,26506,[],561861,en,Eden,0.600,2018-11-25,Eden,0.0,1,66,"Jan 19, 2016",Eden,"$2,300,000",$0,$0
2315,26508,[16],514492,en,Jaws,0.600,2018-05-29,Jaws,0.0,1,41,"Jun 20, 1975",Jaws,"$12,000,000","$260,000,000","$470,700,000"